.url {
    cursor: pointer;
    display: flex;

    flex-direction: column;
    background-color: #222222;
    padding: 20px 26px 26px 26px;
    border-radius: 4px;
}

.url .arrowButton rect,
.url .arrowButton path,
.url .arrowButton line,
.url .copyButton rect,
.url .copyButton path {
    transition: all 0.25s ease;
}

.url:hover .arrowButton rect {
    fill: #b517cd;
    opacity: 1;
}

.url:hover .arrowButton path,
.url:hover .arrowButton line,
.copyButton:hover path {
    stroke: white;
}

.copyButton {
    transition: all 0.25s ease;
    opacity: 0;
}

.url:hover .copyButton {
    opacity: 1;
}

.copyButton:hover rect {
    fill: #b517cd;
    opacity: 1;
}

.urlHeading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.urlUrl {
    font-size: 17px;
}

.urlBody {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 15px;
    line-height: 26px;

    color: #9EA0A3;
}

.rightSide {
    display: flex;
    gap: 10px;
}
