.container {
    display: flex;
    padding: 20px;
    gap: 20px;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
}

.sidebar {
    width: 279px;
    height: 100%;
    background: #262626;
    color: #fff;
    float: left;
    border-radius: 4px;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
    gap: 10px;
    /* overflow: auto; */
}

.input {
    height: 100%;
    flex: 1;
    gap: 10px;
    display: flex;
    flex-direction: column;

}

.textarea {
    position: relative;
    display: flex;
    flex: 1;
}

textarea.body {
    flex: 1;
    border: none;
    background: #262626;
    padding: 23px 26px;
    font-size: 15px;
    resize: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    line-height: 26px;
    color: #fff;
    border-radius: 4px;
    transition: all 0.25s ease;
}

textarea.body + .inputHint {

}

.inputHint {
    position: absolute;
    bottom: 15px;
    left: 26px;
    color: #9EA0A3;
    font-style: italic;
    font-size: 14px;
    line-height: 26px;
    transition: all 0.2s ease;
}

.inputHint a {
    color: #fff;
    transition: all 0.15s ease;
}

.inputHint a:hover {
    color: #e749ff;
}

textarea.body:not(:placeholder-shown) + .inputHint {
    opacity: 0;
    user-select: none;
    pointer-events: none;
}



textarea.body:focus {
    box-shadow: 0 0 0 6px rgba(0, 0, 0, .25),
    0 0 0 1px black;
}


.seconds {
    height: 72px;
    padding: 0 26px;
    display: flex;
    flex-direction: column;
    background: #262626;
    border-radius: 4px;
    border: none;
    outline: none;

    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    line-height: 26px;
    color: #fff;
    transition: all 0.25s ease;
}

.seconds:focus {
    box-shadow: 0 0 0 6px rgba(0, 0, 0, .25),
    0 0 0 1px black;
}

.button {
    height: 48px;
    padding: 17px 26px;
    display: flex;
    flex-direction: column;
    background: #3E0882;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.25s ease;
    font-weight: 500;
}

.button:hover {
    background: #b517cd;
}
